<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Park_Bahçe.Properties.Settings.ParkBahceConnectionString"
            connectionString="Data Source=.\SAIT;Initial Catalog=ParkBahce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Park_Bahçe.Properties.Settings.ParkBahceConnectionString1"
            connectionString="Data Source=SAFER\SAIT;Initial Catalog=ParkBahce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>